#translate_btn{
    padding: 1rem;
    font-size: 2rem;
    background-color: #1c1c1c;
    color: white;

}

main{
    max-width:  600px;
    font-family: sans-serif;
    margin: auto;
    padding: 1rem;
}
textarea{
    width: 80%;
    border: 1px solid black;
    min-height: 15vh;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.header{
    padding-top: 1rem;
text-align: center;
top: 0;
padding-bottom:1rem;
font-size: 3rem;
background-color: #1c1c1c;
color: white;
width: 100%;
font-family: 'Cherish';
font-weight: 400;
}

footer{
    position: fixed;
    height: 4rem;
    background-color: #1c1c1c;
    color: white;
    width: 100%;
    bottom: 0;
    padding: 0;
}
body{
    margin: 0;
}

.logo{
    max-height: 5rem;
    padding-right: 1rem;
    margin-bottom: -1.5rem;
}